.sintomatologia {
  width: 208px;
  height: 60px;
  background: transparent url(../media/images/sintomatologia.png) no-repeat 0 0;
  background-size: 100%;
  top: 28%;
  left: 62%;
}

/*
 * css de la slide
*/
#global {
  background-image: url("../media/images/bg.png");
}

#popup_notes .content_pop {
  width: 723px;
  height: 94px;
  background: transparent url(../media/images/info_notes.png) no-repeat 0 0;
  background-size: 100%;
  top: 41%;
  left: 6%;
}

#popup_ref .content_pop {
  width: 723px;
  height: 94px;
  background: transparent url(../media/images/info_ref.png) no-repeat 0 0;
  background-size: 100%;
  top: 30%;
  left: 6%;
}

#popup_notes .content {
  width: 833px;
  height: 250px;
  background: transparent url(../media/images/popup_notes.png) no-repeat 0 0;
  background-size: 100%;
  bottom: 75px;
  left: 100px;
}

#popup_ref .content {
  width: 833px;
  height: 250px;
  background: transparent url(../media/images/popup_ref.png) no-repeat 0 0;
  background-size: 100%;
  bottom: 75px;
  left: 100px;
}

#popup_sintomatologia .content_pop {
  width: 703px;
  height: 444px;
  background: transparent url(../media/images/info_sintomatologia.png) no-repeat 0 0;
  background-size: 100%;
  top: 9%;
  left: 6%;
}

#popup_sintomatologia .content {
  width: 799px;
  height: 544px;
  background: transparent url(../media/images/popup_sintomatologia.png) no-repeat 0 0;
  background-size: 100%;
  bottom: 75px;
  left: 100px;
}

.btn_punto {
  background: transparent url(../media/images/btn_punto.png) no-repeat 0 0;
  background-size: 100%;
  height: 44px;
  width: 44px;
  top: 569px;
  left: 310px;
}

.pop1 {
  left: 149px;
}

.pop2 {
  left: 714px;
}