#global {
    background-image: url('../media/images/bg.png');
}

body {
    background-image: url('../media/images/fondo.png');
  }


/*************************************/
/* POPUPS ***********************/
/************************************/
#popup_notes .content_pop {
    width: 723px;
    height: 94px;
    background: transparent url(../media/images/info_notes.png) no-repeat 0 0;
    background-size: 100%;
    top: 41%;
    left: 6%;
}

#popup_ref .content_pop {
    width: 723px;
    height: 94px;
    background: transparent url(../media/images/info_ref.png) no-repeat 0 0;
    background-size: 100%;
    top: 30%;
    left: 6%;
}

#popup_notes .content {
    width: 833px;
    height: 250px;
    background: transparent url(../media/images/popup_notes.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 75px;
    left: 100px;
}

#popup_ref .content {
    width: 833px;
    height: 250px;
    background: transparent url(../media/images/popup_ref.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 75px;
    left: 100px;
}

.btn_punto {
    top: 570px;
}

.pop1 {
    left: 150px;
}

.pop2 {
    left: 717px;
}