@charset "UTF-8";

/************************************************
    RESET
************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

sub,
sup {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for olizq browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/***********************************************
    FONTS
************************************************/

@font-face {
    font-family: "Avenir-Book";
    src: url("fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"),
        url("fonts/Avenir-Book.woff") format("woff"),
        url("fonts/Avenir-Book.ttf") format("truetype"),
        url("fonts/Avenir-Book.svg#Avenir-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src:url("fonts/icons.eot");
    src:url("fonts/icons.eot?#iefix") format("embedded-opentype"),
      url("fonts/icons.woff") format("woff"),
      url("fonts/icons.ttf") format("truetype"),
      url("fonts/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }
  
  [data-icon]:before {
    font-family: "icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-viejo:before {
    content: "\61";
  }
  .icon-bombilla:before {
    content: "\62";
  }
  .icon-btx:before {
    content: "\63";
  }
  .icon-candado:before {
    content: "\64";
  }
  .icon-cerebro:before {
    content: "\65";
  }
  .icon-engranaje:before {
    content: "\66";
  }
  .icon-diana:before {
    content: "\67";
  }
  .icon-farmaco:before {
    content: "\68";
  }
  .icon-escudo:before {
    content: "\69";
  }
  .icon-hoja:before {
    content: "\6a";
  }
  .icon-mujer:before {
    content: "\6b";
  }
  .icon-libro:before {
    content: "\6c";
  }
  .icon-medalla:before {
    content: "\6d";
  }
  .icon-presentacion:before {
    content: "\6e";
  }
  

/************************************************
    ipad resets
************************************************/

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    background-image: url("img/fondo.png");
    line-height: 1;
    background-size: 100%;
}
/************************************************
    APP STYLES
************************************************/

#global {
    position: absolute;
    width: 1024px;
    height: 768px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent !important;
}

.abs {
    position: absolute;
}

.bgred {
    background-color: rgba(100, 0, 0, 0.5);
}

.pagination {
    background: #eaeaea;
    color: #595959;
    top: 45.3%;
    width: 62px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Avenir-Book";
}

/************/
/* MENU HOME*/
/***********/

#menu-oculto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 14%;
    right: 0%;
    height: 56%;
    z-index: 5;
    -webkit-box-shadow: 2px -2px 4px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px -2px 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px -2px 4px 4px rgba(0, 0, 0, 0.3);
}

#submenu-oculto li {
    height: 49%;
}

#submenu-oculto {
    z-index: -1;
    border: 1px solid #82acb2;
    top: 62.3%;
}

#menu-oculto li {
    flex: 1;
    border-bottom: 1px solid #82acb2;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    background-color: #fff;
    height: 8%;
}

#menu-oculto li.gran {
    height: 10%;
}

#menu-oculto li:nth-child(3) div {
}

#menu-oculto li:nth-child(2) div {
}

#menu-oculto li:nth-child(7) div {
    /* margin-bottom: 8px; */
}

#menu-oculto li:nth-child(8) div {
}

#menu-oculto li:nth-child(9) div {
}

#menu-oculto li:nth-child(10) div {
}

#menu-oculto li p {
    font-size: 13px;
    color: #589199;
    line-height: 15px;
    font-family: "Avenir-Book";
    text-align: left;
}

#menu-oculto li.active {
    background-color: #e98309;
}

#menu-oculto li.active p {
    color: #fff;
}

#menu-oculto li.active > div {
    color: #fff !important;
}

#menu-oculto li:last-child {
    /* border:none; */
    /*    -webkit-box-shadow:-3px 3px 4px -2px rgba(0,0,0,0.30);
          -moz-box-shadow:-3px 3px 4px -2px rgba(0,0,0,0.30);
          box-shadow: -3px 3px 4px -2px rgba(0,0,0,0.30);
    */
}

/*************************************/
/* FOOTER*****************************/
/************************************/
#disclaimer {
    position: absolute;
    top: 90%;
    left: 26%;
    font-family: "Avenir-Book";
    font-size: 11px;
}

.ft_brintellix {
    bottom: 1%;
    left: 81%;
    width: 12%;
    height: 67.69%;
    background-image: url(img/logo_brintellix.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.ft_brintellix.slide_000 {
    position: absolute;
    bottom: 3%;
    left: 69%;
    width: 15%;
    background-image: url("img/logo_brintellix.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 11%;
}




#logo_footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 16.39%;
}

#logo_footer .backsize {
    margin-top: 2.1%;
    width: 13%;
    float: right;
    margin-right: 6.2%;
    height: 46%;
}

/*************************************/
/* IMG'S' MENU ***********************/
/************************************/

.glyphs.css-mapping .icon {
    color: #e98309;
    font-size: 46px;
    /* height: 26px; */
    overflow: hidden;
    margin-top: 20px;
    margin-right: -7px;
}

.popup.active {
    z-index: 10;
    opacity: 0.97;
}

.popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.content_pop,
.content {
    width: 100% !important;
    height: 100% !important;
    top: 0% !important;
    left: 0% !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
}

.content {
    background-image: url(img/popup_gran.png) !important;
}

#popup_notes .content_pop {
    background: transparent url(../media/images/info_notes.png) no-repeat 0 0;
}

#popup_ref .content_pop {
    background: transparent url(../media/images/info_ref.png) no-repeat 0 0;
}

.popup_notes .content,
#popup_notes .content {
    background-image: url(img/popup_notes.png) !important;
}

.popup_ref .content,
#popup_ref .content {
    background-image: url(img/popup_ref.png) !important;
}

.popup_ref .content_medium,
#popup_ref .content_medium {
    background-image: url(img/popup_ref_medium.png) !important;
}

.popup_ref .content_meh,
#popup_ref .content_meh {
    background-image: url(img/popup_ref_meh.png) !important;
}
.popup_ref .content_left,
#popup_ref .content_left {
    background-image: url(img/popup_ref_left.png) !important;
}


.popup_ref .content_gran,
#popup_ref .content_gran {
    background-image: url(img/popup_ref_gran.png) !important;
}

.popup_ref .popup_close,
.popup_notes .popup_close,
#popup_ref .popup_close,
#popup_notes .popup_close {
    top: 56%;
    left: 86%;
}

.popup_close {
    position: absolute;
    top: 11%;
    left: 86%;
    width: 6%;
    height: 8.2%;
    z-index: 1;
    background-image: url(img/btn_close_popup.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.popup_ref .content_meh .popup_close,
#popup_ref .content_meh .popup_close,
#popup_notes .content_meh .popup_close {
    top: 49%;
    left: 86%;
}

.popup_ref .content_medium .popup_close,
#popup_ref .content_medium .popup_close,
#popup_notes .content_medium .popup_close {
    top: 28%;
    left: 86%;
}

.popup_ref .content_gran .popup_close,
#popup_ref .content_gran .popup_close,
#popup_notes .content_gran .popup_close {
    top: 3%;
    left: 86%;
}

.btn {
    width: 82px;
    height: 77px;
    bottom: -8px;
}

.btn-despegable {
    background: transparent url(img/btn_despegable.png) no-repeat 0 0;
    background-size: 100%;
    left: 13px;
}

.btn-home {
    background: transparent url(img/btn_home.png) no-repeat 0 0;
    background-size: 100%;
    left: 100px;
}

.btn-notes {
    background: transparent url(img/btn_notes_off.png) no-repeat 0 0;
    background-size: 100%;
    left: 187px;
}

.btn-notes.active {
    background: transparent url(img/btn_notes_on.png) no-repeat 0 0;
    background-size: 100%;
    z-index: 15;
}

.btn-ref {
    background: transparent url(img/btn_ref_off.png) no-repeat 0 0;
    background-size: 100%;
    left: 274px;
}

.btn-ref.active {
    background: transparent url(img/btn_ref_on.png) no-repeat 0 0;
    background-size: 100%;
    z-index: 15;
}

.btn_punto {
    background: transparent url(img/btn_punto.png) no-repeat 0 0;
    background-size: 100%;
    height: 44px;
    width: 44px;
    top: 359px;
    left: 310px;
}

.btn_punto_gran {
    background: transparent url(img/btn_punto_gran.png) no-repeat 0 0 !important;
    background-size: 100% !important;
    height: 60px !important;
    width: 60px !important;
}

.btn-ref-solo {
    left: 188px;
}