@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("fonts/untitled-font-2.eot");
  src:url("fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-2.woff") format("woff"),
    url("fonts/untitled-font-2.ttf") format("truetype"),
    url("fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tdm:before {
  content: "\61";
}
.icon-eficacia:before {
  content: "\62";
}
.icon-sintomas:before {
  content: "\63";
}
.icon-cognitivos:before {
  content: "\64";
}
.icon-mecanismo:before {
  content: "\65";
}
.icon-tolerabilidad:before {
  content: "\66";
}
.icon-neurologia:before {
  content: "\67";
}
.icon-ad:before {
  content: "\68";
}
.icon-guia:before {
  content: "\69";
}
.icon-perfiles:before {
  content: "\6a";
}
.icon-mc:before {
  content: "\6b";
}
