#global {
    background-image: url('../media/images/bg.png');
}

/*************************************/
/* POPUPS ***********************/
/************************************/
#popup_notes .content_pop {
    width: 100%;
    height: 100%;
    background: transparent url(../media/images/info_notes.png) no-repeat 0 0;
    background-size: 100%;
    top: 0%;
    left: 0%;
}

#popup_ref .content_pop {
    width: 723px;
    height: 94px;
    background: transparent url(../media/images/info_ref.png) no-repeat 0 0;
    background-size: 100%;
    top: 30%;
    left: 6%;
}

#popup_notes .content {
    width: 100%;
    height: 100%;
    background: transparent url(../media/images/popup_notes.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 0%;
    left: 0%;
}

#popup_ref .content {
    width: 833px;
    height: 250px;
    background: transparent url(../media/images/popup_ref.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 75px;
    left: 100px;
}

#pop3 .content,
#pop4 .content {
    width: 100%;
    height: 100%;
    background: transparent url(../media/images/pop_fondo.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 0px;
    left: 0px;
}

#pop3 .content_pop {
    width: 100%;
    height: 100%;
    background: transparent url(../media/images/pop3.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 0px;
    left: 0px;
}

#pop4 .content_pop {
    width: 100%;
    height: 100%;
    background: transparent url(../media/images/pop4.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 0px;
    left: 0px;
}

.btn_punto {
    top: 570px;
}

.pop1 {
    left: 151px;
}

.pop2 {
    left: 714px;
}

.pop3 {
    top: 34%;
    left: 25.8%;
}

.pop4 {
    top: 71%;
    left: 42.3%;
}

.btn_pop {
    position: absolute;
    top: 65%;
    left: 37.1%;
    width: 25.1%;
    height: 10%;
    background-image: url('../media/images/btn_pop.png');
    background-repeat: no-repeat;
    background-size: 100%;
}