#global {
    background-image: url('../media/images/bg.png');
}

/*************************************/
/* POPUPS ***********************/
/************************************/
#popup_notes .content_pop {
    width: 723px;
    height: 94px;
    background: transparent url(../media/images/info_notes.png) no-repeat 0 0;
    background-size: 100%;
    top: 41%;
    left: 6%;
}

#popup_ref .content_pop {
    width: 723px;
    height: 104px;
    background: transparent url(../media/images/info_ref.png) no-repeat 0 0;
    background-size: 100%;
    top: 30%;
    left: 6%;
}

#popup_notes .content {
    width: 833px;
    height: 250px;
    background: transparent url(../media/images/popup_notes.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 75px;
    left: 100px;
}

#popup_ref .content {
    width: 833px;
    height: 250px;
    background: transparent url(../media/images/popup_ref.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 75px;
    left: 100px;
}

.pop1 {
    left: 33.1%;
    top: 46%;
}

.pop2 {
    left: 51.3%;
    top: 46%;
}

.pop3 {
    top: 72%;
    left: 42.1%;
}