#global {
    background-image: url('../media/images/bg.png');
}

#popup_ref .content_pop {
    width: 723px;
    height: 294px;
    background: transparent url(../media/images/info_ref.png) no-repeat 0 0;
    background-size: 100%;
    top: 20%;
    left: 6%;
}

#popup_ref .content {
    width: 833px;
    height: 470px;
    background: transparent url(../media/images/popup_ref.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 70px;
    left: 110px;
}
#popup_notes .content_pop {
    width: 688px;
    height: 79px;
    background: transparent url(../media/images/info_notes.png) no-repeat 0 0;
    background-size: 100%;
    top: 33%;
    left: 6%;
  }
  
  #popup_notes .content {
    width: 833px;
    height: 250px;
    background: transparent url(../media/images/popup_notes.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 75px;
    left: 100px;
  }
  

.popup.active {
    z-index: 10;
    opacity: 0.97;
}

.popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.btn_flechas {
    width: 61px;
    height: 61px;
    top: 47%;
}

.btn_next {
    background: transparent url(../media/images/btn_next.png) no-repeat 0 0;
    background-size: 100%;
    left: 80%;
}

.btn_prev {
    background: transparent url(../media/images/btn_prev.png) no-repeat 0 0;
    background-size: 100%;
    left: 13%;
}

.btn_punto {
    background: transparent url(../media/images/btn_punto.png) no-repeat 0 0;
    background-size: 100%;
    height: 94px;
    width: 64px;
    top: 569px;
    left: 310px;
}

.popup-1 {
    top: 38%;
    left: 16.5%;
}

.popup-2 {
    top: 38%;
    left: 67%;
}

.popup-3 {
    top: 68%;
    left: 16.5%;
}

#popup_1 .content_pop {
    width: 718px;
    height: 471px;
    background: transparent url(../media/images/popup_1-a.png) no-repeat 0 0;
    background-size: 100%;
    top: 7%;
    left: 9%;
}

#popup_1 .content_pop.active {
    width: 658px;
    height: 471px;
    background: transparent url(../media/images/popup_1-b.png) no-repeat 0 0;
    background-size: 100%;
    top: 7%;
    left: 9%;
}

#popup_1 .content {
    width: 794px;
    height: 544px;
    background: transparent url(../media/images/info_bg.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 110px;
    left: 110px;
}

#popup_2 .content_pop {
    width: 718px;
    height: 471px;
    background: transparent url(../media/images/popup_2.png) no-repeat 0 0;
    background-size: 100%;
    top: 7%;
    left: 9%;
}

#popup_2 .content {
    width: 794px;
    height: 544px;
    background: transparent url(../media/images/info_bg.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 110px;
    left: 110px;
}

#popup_3 .content_pop {
    width: 718px;
    height: 471px;
    background: transparent url(../media/images/popup_3.png) no-repeat 0 0;
    background-size: 100%;
    top: 7%;
    left: 9%;
}

#popup_3 .content {
    width: 794px;
    height: 544px;
    background: transparent url(../media/images/info_bg.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 110px;
    left: 110px;
}

.btn-ref {
    left: 275px;
}